.bat {
  position: absolute;
  background-color: white;
  border-radius: 0px; // Easier for testing
  z-index: 2;
}

.hit {
  background-color: black !important;
}

.height-event {
  background-color: red !important;
}

// For thr furture
.rotate-minus-15 {
  transition: 0.1s;
  transform: rotate(-15deg);
}
.rotate-plus-15 {
  transition: 0.1s;
  transform: rotate(15deg);
}
