
.bat {
    position: absolute;
    height: 150px;
    width: 10px;
    background-color: blue;
    border-radius: 6px;
}

.hit {
    background-color: white !important;
}

.rotate-minus-15{
    transition: 0.1s;
    transform: rotate(-15deg);
}
.rotate-plus-15{
    transition: 0.1s;
    transform: rotate(15deg);
}