.field {
  background-color: forestgreen;
  border: 5px solid black;
  margin: auto;
  position: relative;
  list-style: none;
  position: relative;
  border: 5px solid grey;
  background-image: -webkit-linear-gradient(
    0,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%
  );
  background-size: 100px;
}

.field:after {
  content: "";
  border: 2.5px solid white;
  display: inline-flex;
  height: 100%;
  text-align: center;
}

.center-circle {
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
}
.center-circle:after {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  content: "";
  border-radius: 50px;
  display: inline-flex;
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
}

.penalty-area {
  position: absolute;
  border: 5px solid white;
}
.left {
  &.penalty-area,
  &.penalty-area::before {
    border-left: 0px !important;
    left: 0px;
  }
  &.penalty-area:after {
    left: 75%;
  }
}
.right {
  &.penalty-area,
  &.penalty-area::before {
    border-right: 0px !important;
    right: 0px;
  }
  &.penalty-area:after {
    right: 75%;
  }
}
.penalty-area:before {
  position: absolute;
  height: 70%;
  width: 40%;
  top: 15%;
  border: 5px solid white;
  content: "";
}
.penalty-area:after {
  position: absolute;
  height: 25px;
  width: 25px;
  top: calc(50% - 25px);
  background-color: white;
  content: "";
  border-radius: 50px;
}
