<app-gamefield (goalEvent)="goalEvent($event)"></app-gamefield>
<app-points
  #points
  [leftPlayerPoints]="leftPlayerPoints"
  [rightPlayerPoints]="rightPlayerPoints"
></app-points>
<div style="text-align:center; margin-top: 20px">
  <button
    (click)="onStartGameGameButtonClicked()"
    [disabled]="gameIsRunning"
    style="margin-right: 20px"
  >
    Starten
  </button>
  <button
    (click)="onPauseGameButtonClicked()"
    [disabled]="!gameIsRunning"
    style="margin-right: 20px"
  >
    {{ pauseButtonText }}
  </button>
  <button mat-raised-button color="accent" (click)="resetGame()">Zurücksetzen</button>
  <mat-icon>print</mat-icon>
</div>
