<app-gamefield (goalEvent)="onGoalEvent($event)"></app-gamefield>
<app-points
  #points
  [leftPlayerPoints]="leftPlayerPoints"
  [rightPlayerPoints]="rightPlayerPoints"
></app-points>
<div style="text-align:center; margin-top: 20px">
  <button
    mat-button
    (click)="onStartGameGameButtonClicked()"
    [disabled]="gameIsRunning"
    style="margin-right: 20px"
  >
    Starten
  </button>
  <button
    mat-button
    (click)="onPauseGameButtonClicked()"
    [disabled]="!gameIsRunning"
    style="margin-right: 20px"
  >
    {{ pauseButtonText }}
  </button>
  <button
    mat-button
    (click)="onReplayGameButtonClicked()"
    [disabled]="gameIsRunning"
  >
    Replay
  </button>
  <button mat-button color="primary" (click)="resetGame()">Zurücksetzen</button>
</div>
